/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* my styles */

* {
    box-sizing: border-box;
    font-family: "Barlow Condensed", "Sans-serif";
    color: #d0d6f9;
}

body {
    height: 100vh;
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10% 5%;
}

.burger_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15%;
}

.hidden {
    display: none;
}

.active_page {
    border-bottom: 2px solid #fff;
    padding-bottom: 40px;
}

.header_navbar {
    padding-top: 40px;
}

main {
    width: 100%;
}

main section {
    width: 80%;
    height: 710px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    margin-top: 10%;
}

.div_text > p:nth-child(1) {
    font-size: 16px;
}

h1 {
    font-size: 80px;
    font-family: Bellefair, Serif;
    margin: 10%;
}

.div_text > p:nth-child(3) {
    font-size: 15px;
}

.button {
    color: #0b0f1a;
    background-color: #d0d6f9;
    border-radius: 50%;
    font-family: Bellefair, Serif;
    font-size: 18px;
    margin: auto;
    border: none;
    width: 144px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 0px 0px 85px rgba(208,214,249,0.15);
}


/* Responsive */

    /* tablet */
    @media screen and (min-width: 375px) and (max-width: 768px) {
        body {
            background-image: url('../assets/home/background-home-tablet.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        nav.hidden {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            color: #fff;
            padding-right: 7%;
        }

        .burger_div {
            display: none;
        }

        header {
            margin: 0 5% 5% 5%;
        }

        .header_navbar {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .header_navbar li { 
            margin-left: 3%;
        }

        .header_navbar a {
            text-decoration: none;
            font-size: 16px;
        }

        h1 {
            font-size: 144px;
            margin: 15px;
        }

        .div_text > p:nth-child(1) {
            font-size: 28px;
        }

        .div_text > p:nth-child(3) {
            font-size: 16px;
        }

        .button {
            font-size: 32px;
            width: 272px;
            height: 272px;
        }

        main section div {
            width: 100%;
        }
        
    }

        /* desktop */
    @media screen and (min-width: 769px) {
        body {
            background-image: url('../assets/home/background-home-desktop.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 50px;
        }

        hr.hidden {
            display: block;
            flex-grow: 1;
            border: none;
            border-top: 0.25px solid #979797;
            margin: 0;
        }

        nav.hidden {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #fff;
            padding: 2% 10%;
            padding-left: 0px;
            height: 100px;
            width: 60%;
            background-color: rgba(11,13,23,0.8);
        }

        .burger_div {
            display: none;
        }

        header {
            margin: 0;
        }

        .header_navbar {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .header_navbar li { 
            margin-left: 5%;
        }

        .header_navbar a {
            text-decoration: none;
            font-size: 16px;
        }

        main {
            height: fit-content;
        }

        main section {
            width: 90%;
            height: 630px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-top: 0;
        }

        main section div {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        h1 {
            margin: 5% 0;
            font-size: 144px;
        }

        .div_text {
            margin-top: 0;
        }

        .div_text > p:nth-child(1) {
            font-size: 28px;
        }

        .div_text > p:nth-child(3) {
            font-size: 18px;
        }

        .button {
            font-size: 32px;
            width: 272px;
            height: 272px;
        }
}
