/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* my styles */

* {
    box-sizing: border-box;
    font-family: Barlow, "Sans-serif";
    color: #fff;
}

body {
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}

.burger_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden {
    display: none;
}

main section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    margin-top: 10%;
}

main section div:first-child {
    font-size: 16px;
}

h1 {
    font-size: 80px;
    font-family: Bellefair, Serif;
    margin: 10%;
}

main section div:last-child {
    font-size: 15px;
}

.button {
    color: #0b0f1a;
    border-radius: 50%;
    font-size: 18px;
    padding: 15%;
    margin-top: 25%;
}